    <div class="container">
        <div class="row">
            <div class="col-12">
                <form ng-submit="model.editUser()">
                    <div class="form-group">
                      <input type="hidden" name="" ng-model="model.sign_up.id">
                      <label for="exampleInputEmail1">First Name</label>
                      <input type="first_name"  ng-model="model.sign_up.first_name"  class="form-control" id="exampleInputEmail1"  placeholder="First Name">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Last Name</label>
                        <input type="last_name" ng-model="model.sign_up.last_name"    class="form-control" id="exampleInputEmail1"  placeholder="Last Name">
                      </div>
                      <div class="form-group">
                        <label for="exampleInputEmail1">Role: {{model.sign_up.role==2?'Parent':'Student'}}</label>
                        <select  ng-model="model.sign_up.role"  name="" id="" class="form-control" id="exampleInputEmail1" >
                            <option value="parent" {{model.sign_up.role==2?'selected':''}}>Parent</option>
                            <option value="student" {{model.sign_up.role==3?'selected':''}} >Student</option>
                        </select>
                      </div>
                      <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email"  ng-model="model.sign_up.email"    class="form-control" id="exampleInputEmail1"  placeholder="Enter email">
                      </div>
                      <!-- <div class="form-group">
                        <label for="exampleInputEmail1">Password</label>
                        <input type="password" ng-model="model.sign_up.password"   class="form-control" id="exampleInputEmail1"  placeholder="Password">
                      </div>
                    <div class="form-group">
                      <label for="exampleInputPassword1">Comfirm Password </label>
                      <input type="password"  class="form-control" id="exampleInputPassword1" placeholder="Comfirm Password">
                      <!-- <span>{{model.login.passwordError}}</span> -->
                    <!-- </div> --> 
                 
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </form>
            </div>
        </div>
</div>
