<!DOCTYPE html>
<html lang="en"  ng-app="myApp" data-ng-cloak>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./bootstrap.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">

    <link href="./bower_components/angular-material/angular-material.min.css" rel="stylesheet" type="text/css"/>
    <link href="./bower_components/angular-material-data-table/dist/md-data-table.min.css" rel="stylesheet" type="text/css"/>
    <!-- <link rel="stylesheet" href="./datatabeRoutes/bootstrap.min.css"> -->
    <!-- <link rel="stylesheet" href="./datatabeRoutes/dataTables.bootstrap.min.css"> -->
</head>
<style>
   md-card, md-table-container{
        width: 100%;
    }
    table tr th{
        background:#337ab7;
        color:white;
        text-align:left;
        vertical-align:center;  
    }


    a{
        cursor: pointer;
    }
    md-toolbar-tools{
        display: flex;
        width: 100% !important;
        justify-content: space-between;
    }
</style>
<body data-ng-controller="dashboardController" ng-init="model.getUserData()">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-5">
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">    
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
                </li>
              
  
            </ul>
        </div>
        <div>
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                <a class="nav-link" href="#">{{model.greeting}}   ({{model.loggedInUserData.role_pivot.role_name}})</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" ng-click="model.logOut()">Log Out</a>
                </li>
                <li>
                    
                </li>
            </ul>
        </div>
    </nav>
    <div class="container" >
            <div class="row">
                <div class="col-12">
                    <div style="float: right; ">
                        <button style="background-color:#54dd7d; color:#fff; outline:none; border:none;" ng-click="model.add()" ng-show="model.loggedInUserData.role_pivot.id==1">Add New</button>
                    </div>
                
                </div>
                <md-card>
                    <md-toolbar class="md-table-toolbar md-default">

                        <div class="md-toolbar-tools">
                            
                            <span>Users</span>
                            
                            <div flex></div>
    
                            <md-input-container>
                                <label> Search Table </label>
                                <input ng-model="query.search"> 
                            </md-input-container>
    
                            <md-button class="md-raised md-primary" 
                                       ng-click="searchFilter()"
                                       ng-disabled="!query.search">
                                <md-icon>search</md-icon>
                            </md-button>
    
                            <md-button class="md-icon-button "  ng-click="loadStuff()">
                                <md-icon>refresh</md-icon>
                            </md-button>
    
                        </div>
    
                    </md-toolbar>
                    <md-table-container>
                    
                        <table md-table 
                               md-row-select="false" 
                               multiple="false" 
                               md-progress="promise"
                                >

                            <thead md-head >
                                <tr md-row>
                                    <th md-column ><span>SN</span></th>
                                    <th md-column ><span>First Name</span></th>
                                    <th md-column ><span>Last Name</span></th>
                                    <th md-column ><span>Email</span></th>
                                    <th md-column ><span>Role</span></th>
                                    <th ng-show="model.loggedInUserData.role_pivot.id==1" style="width: 10%;"></th>
                                </tr>
                            </thead>
    
                        <tbody md-body>
    
                            <tr md-row ng-repeat="user in model.users.data">
                                <td md-cell>{{ (query.page*query.limit)+($index+1) - query.limit}}</td>
                                <td md-cell>{{user.first_name }}</td>
                                <td md-cell>{{user.last_name }}</td>
                                <td md-cell>{{user.email}}</td>
                                <td md-cell>{{user.role_pivot.role_name  }}</td>
                                <td ng-show="model.loggedInUserData.role_pivot.id==1" style="width: 10%;">
                                    <button class="btn-primary" ng-click="model.editUser(user)">Edit</button>
                                    <button class="btn-danger" ng-click="model.deleteUser(user.id)">Delete</button>
                                </td>
                            </tr>
    
                        </tbody>
    
                    </table>
    
                    </md-table-container>
                    <md-table-pagination 
                            md-limit="query.limit"
                            md-limit-options="limitOptions"
                            md-page="query.page"
                            md-total="{{model.users.total}}"
                            md-page-select="true"
                            md-boundary-links="false"
                            md-on-paginate="logPagination"
                            md-label="{{label}}">
                                
                    </md-table-pagination> 

                    <!-- <md-table-pagination 
                    md-limit="query.limit" 
                    md-limit-options="[5, 10, 15]" 
                    md-page="query.page" 
                    md-total="{{model.users.total}}"
                    md-on-paginate="logPagination" 
                    md-page-select
                    ></md-table-pagination> -->



                </md-card>

               
            </div>
    </div>
    
</body>
    <!-- <script src="./datatabeRoutes/jquery-2.2.4.min.js"></script> -->
    <script type="text/javascript" src="./bower_components/angular/angular.js"></script>
        <!-- <script type="text/javascript" src="./bower_components/angular-animate/angular-animate.min.js"></script>
        <script type="text/javascript" src="./bower_components/angular-animate/angular-animate.min.js.map"></script>
        <script type="text/javascript" src="./bower_components/angular-aria/angular-aria.min.js"></script>
        <script type="text/javascript" src="./bower_components/angular-material-data-table/dist/md-data-table.min.js"></script> -->

        <script type="text/javascript" src="./bower_components/angular-animate/angular-animate.js"></script>
        <script type="text/javascript" src="./bower_components/angular-aria/angular-aria.js"></script>
        <script type="text/javascript" src="./bower_components/angular-material/angular-material.js"></script>
        <script type="text/javascript" src="./bower_components/angular-material-data-table/dist/md-data-table.min.js"></script>
        <script type="text/javascript" src="./bower_components/angular-material-data-table/dist/fixed-table-header.js"></script>

        <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
        <script src="https://rawgit.com/daniel-nagy/md-data-table/master/dist/md-data-table.js"></script> -->

   <script src="../../controller/dashboardController.js"></script>
    <script src="../../service/userService.js"></script>


 

<!-- <script type="text/javascript">
    
  $(document).ready(function(){
        $('#myTable').dataTable( { "sPaginationType": "full_numbers" } );
    });
</script> -->

</html>