
<style>
   md-card, md-table-container{
        width: 100%;
    }
    table tr th{
        background:#337ab7;
        color:white;
        text-align:left;
        vertical-align:center;  
    }


    a{
        cursor: pointer;
    }
    md-toolbar-tools{
        display: flex;
        width: 100% !important;
        justify-content: space-between;
    }
</style>
<div ng-app="myApp" data-ng-cloak data-ng-controller="dashboardController" ng-init="model.logPagination()">

    <div class="container"   >
            <div class="row">
                <div class="col-12">
                    <div style="float: right; ">
                        <button style="background-color:#54dd7d; color:#fff; outline:none; border:none;" ng-click="model.add()" ng-show="model.loggedInUserData.role_pivot.id==1">Add New</button>
                    </div>
                
                </div>
                <md-card>
                    <md-toolbar class="md-table-toolbar md-default">

                        <div class="md-toolbar-tools">
                            
                            <span>Users</span>
                            
                            <div flex></div>
    
                            <md-input-container>
                                <label> Search Table </label>
                                <input ng-model="query.search"> 
                            </md-input-container>
    
                            <md-button class="md-raised md-primary" 
                                       ng-click="searchFilter()"
                                       ng-disabled="!query.search">
                                <md-icon>search</md-icon>
                            </md-button>
    
                            <md-button class="md-icon-button "  ng-click="loadStuff()">
                                <md-icon>refresh</md-icon>
                            </md-button>
    
                        </div>
    
                    </md-toolbar>
                    <md-table-container>
                    
                        <table md-table 
                               md-row-select="false" 
                               multiple="false" 
                               md-progress="promise"
                                >

                            <thead md-head >
                                <tr md-row>
                                    <th md-column ><span>SN</span></th>
                                    <th md-column ><span>First Name</span></th>
                                    <th md-column ><span>Last Name</span></th>
                                    <th md-column ><span>Email</span></th>
                                    <th md-column ><span>Role</span></th>
                                    <th ng-show="model.loggedInUserData.role_pivot.id==1" style="width: 10%;"></th>
                                </tr>
                            </thead>
    
                        <tbody md-body>
    
                            <tr md-row ng-repeat="user in model.users.data">
                                <td class="md-cell ng-binding" md-cell>{{ (query.page*query.limit)+($index+1) - query.limit}}</td>
                                <td class="md-cell ng-binding" md-cell>{{user.first_name }}</td>
                                <td md-cell>{{user.last_name }}</td>
                                <td md-cell>{{user.email}}</td>
                                <td md-cell>{{user.role_pivot.role_name  }}</td>
                                <td ng-show="model.loggedInUserData.role_pivot.id==1" style="width: 10%;">
                                    <button class="btn-primary" ng-click="model.editUser(user)">Edit</button>
                                    <button class="btn-danger" ng-click="model.deleteUser(user.id)">Delete</button>
                                </td>
                            </tr>
    
                        </tbody>
    
                    </table>
    
                    </md-table-container>
                    <md-table-pagination 
                            md-limit="query.limit"
                            md-limit-options="limitOptions"
                            md-page="query.page"
                            md-total="{{model.users.total}}"
                            md-page-select="true"
                            md-boundary-links="false"
                            md-on-paginate="logPagination"
                            md-label="{{label}}">
                                
                    </md-table-pagination> 

               


                </md-card>

               
            </div>
    </div>
    
</div>
    
